---
title: Syllabus
layout: default.njk
---

<table>
  <tbody>
    <tr>
      <td>Credit Hours:</td>
      <td>3</td>
    </tr>
    <tr>
      <td>CRN:</td>
      <td>39576-01</td>
    </tr>

    <tr>
      <td>Preerquisites:</td>
      <td>ART 140, 145, and 149 with a grade of C or better</td>
    </tr>
    <tr>
      <td>Co-requisites:</td>
      <td>ART 146</td>
    </tr>
    <tr>
      <td>Campus:</td>
      <td>Harrisburg</td>
    </tr>
    <tr>
      <td>Meeting time:</td>
      <td>Mondays and Wednesdays 5:30pm to 7:45pm</td>
    </tr>
    <tr>
      <td>Meeting location:</td>
      <td>Online over Zoom</td>
    </tr>
    <tr>
      <td>Division:</td>
      <td>Communication, Humanities and Arts</td>
    </tr>
    <tr>
      <td>Class Day &amp; Time:</td>
      <td>Mondays and Wednesdays 5:30pm – 7:45pm </td>
    </tr>
    <tr>
      <td>Office Hours:</td>
      <td>7:45pm - 8:40pm Mondays and Wednesdays or by appointment</td>
    </tr>
    <tr>
      <td>Meeting Location:</td>
      <td>Online over Zoom</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><a href="mailto:rdhauck@hacc.edu">rdhauck@hacc.edu</a></td>
    </tr>
  </tbody>
</table>
<h2>Catalog Description</h2>
<p>Increases students’ knowledge for web and interactive media. This course integrates web standards and utilizes media queries to develop responsive website designs. Web fonts and file management are also explored. Students are required to develop a final online portfolio. Enrollment is restricted to students in the Graphic and Interactive Design AAS program. A course fee is required.</p>

<h2>Learning Outcomes</h2>
<p>Upon successful completion of the course the student will be able to:</p>
<ol>
    <li>Apply design concepts and principles learned in prior design classes</li>
    <li>Describe the impact of interactive media on current culture and the marketplace</li>
    <li>Produce an effective interactive resume and portfolio</li>
    <li>Demonstrate knowledge of web technology and its effect on responsive website designs</li>
    <li>Demonstrate knowledge of scripting languages and their inclusion into websites for utilization of additional interactivity</li>
</ol>

<h2>Textbook and Materials</h2>
<strong>Recommended Texts:</strong>

  <p>Reading assignments will be provided in class or on (https://art114.richhauck.com)</p>
<h2>Supplies List:</h2>
<ol>
  <li>Webcam with Internet Access</li>
  <li>Adobe Creative Cloud subscription – Check <a href="https://bookstore.hacc.edu">https://bookstore.hacc.edu</a></li>
  <li>Visual Studio Code <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></li>
  <li>MAMP (Free version): <a href="https://www.mamp.info/">https://www.mamp.info/</a></li>
  <li>Website domain and hosting</li>
  <li>FileZilla <a href="https://filezilla-project.org/">https://filezilla-project.org/</a></li>
  <li>WordPress.com blog for providing design research (Free account) <a href="https://wordpress.com/">https://wordpress.com/</a></li>
  <li>GitHub account (Free account) <a href="https://github.com/">https://github.com/</a></li>
</ol>


<h2>Equipment and Technology Requirements: </h2>

<p>HACC Technology Loan program allows students to borrow computers and other equipment necessary for classes. We are allowing students in this class to borrow iMacs and keep it for the entire semester. You must contact Darby Miller at <a href="mailto:dtmille2@hacc.edu">dtmille2@hacc.edu</a> if interested. He will make arrangements for you to pick up the iMac during one of HACC's Technology Pickup days.
</p>  
<p>It is required for all students to have Adobe Creative Cloud for this course. Students who do not have a personal Adobe account are able to buy one through HACC bookstore for the course of the semester. HACC Bookstore and Darby Miller should be able to answer questions about Adobe purchase. 
</p>


<h2>Assignments</h2>
<p>The total possible points score in this course is 1,000 and is broken down as follows:</p>
<h3>Projects</h3>
<ol>
  <li>Event Website (200 points) </li>
  <li>Social Media Site (270 points) </li>
  <li>Portfolio (370 points) </li>
</ol>
<h3>Exercises</h3>
<p>Each exercise is worth 10 points. Some will be completed in class, others will be assigned as homework.</p>
<ol>
  <li><a href="01/">Flexbox Exercise</a></li>
  <li>Use FTP to post a splash page with Google Analytics installed, use a web font</li>
  <li>Responsive Navigation</li>
  <li>Animation</li>
  <li>Single Page Layout</li> 
  <li>Single Page Layout - Responsive</li>
  <li>PHP File includes</li>
  <li>Single pay layout – responsive with framework (Tailwind, Bootstrap, etc.)</li>
  <li>Use a JavaScript library (Lightbox, PhotoSwipe, Slick, etc.)</li>
  <li>Complete a local WordPress install using MAMP</li>
</ol>
<h2>Grading Criteria</h2>
<ol>
  <li>Design Research, Sketches and Wireframes</li>
  <li>Design, Revisions, Creativity </li>
  <li>Development Requirements </li>
  <li>Critique Participation </li>
  <li>Attendance </li>
</ol>
<p>All projects and assignments are due on the assigned deadline, at the beginning of class. For each class period an assignment is late its value will be dropped by one letter grade.</p>
<p>A (Superior work with consistent advancement) = 100 - 90 pt<br>
  B (above average which fulfills the requirements) = 89 - 80 pt<br>
  C (average work which fulfills minimum requirements) = 79 - 70 pt<br>
  D (below average passing grade, poor work) = 69 - 60 pt<br>
  F  (Unacceptable work, failure) = 59 - 0 pt</p>
<p>&quot;I&quot; (Upon recommendation of the student and with the approval of the instructor, the &quot;I&quot; (incomplete) grade may be applied. The &quot;I&quot; grade shows that coursework is incomplete and must be completed within eight weeks of the ensuing fall or spring semester. On the recommendation of the instructor and subject to the division administrator's approval, the eight-week period may be extended. An incomplete grade is computed as an F in the student's cumulative grade point average when not completed within the allotted period.</p>

<h2>Incomplete Grade Policy</h2>
<p>A grade of Incomplete (I) may be assigned when a student is not able to complete the course requirements due to extenuating circumstances. The Incomplete grade will be assigned only after a conference with the instructor and his/her determination of a serious need. The “I” becomes an “F” if the work is not completed before 8 weeks into the following semester. The grade of incomplete is only granted if a student has a serious, documented health problem that precludes completing the required work.</p>

<h2>Make-up Work</h2>
<p>For each class period a project is late its value will be dropped by one letter grade.</p>
<p>Excluding the final project, one major project may be resubmitted during the course of the semester. Projects eligible for resubmission must have been turned in on time and earned a grade of "C" or lower. Resubmission project must be turned in, with instructor’s consultation within two weeks from the date the project was first graded and handed back to the students. Resubmissions must be accompanied with the original project in order to be graded. This does not guarantee that the earned grade will be adjusted to a higher grade. Resubmission will not be accepted during the last week of classes. Make-up is not allowed for class exercises.</p>

<h2>Attendance and Withdrawal:</h2>
<p>Students are expected to attend every class and remain in class for the duration of the session. Failure to attend class or arriving late may impact your ability to achieve course objectives, which could affect your course grade. An absence, excused or unexcused, does not relieve a student of any course requirement. Regular class attendance is a student&rsquo;s obligation, as is a responsibility for all the work of class meetings. Please arrive to class on time.</p>
<p>Excessive absences are when unexcused absences or the failure to participate in academic activities exceed 15% of the total class hours that will take place throughout the semester and when the absences preclude the possibility of the student attaining the stated learning outcomes for the course.</p>
<p>If a student meets the requirements for excessive absences, on the 3rd absence, the instructor will drop the student from the course with a grade of &ldquo;W&rdquo; unless academic dishonesty was documented. An excused absence is an absence that occurred for reasons that were: a) beyond the student&rsquo;s control to prevent, and b) significant enough to reasonably prohibit attendance in class. For an absence to be considered excused, the student must contact the instructor and provide evidence supporting the excuse for the absence. The following are examples of excused absences (with required documentation):</p>
<ul>
  <li>Illness - medical documentation required indicating that you cannot return to classes (note from doctor, emergency room verification, etc.)</li>
  <li>Funeral for immediate family and grandparents– funeral program, obituary notice</li>
  <li>Jury Duty – must bring in documentation of jury service or jury summons form.</li>
  <li>Mandatory Court Appearance – must bring in a copy of court papers clearly stating date of appearance.</li>
  <li>Military Service</li>
  <li>Auto Accident - documentation required</li>
</ul>
	
<p>An unexcused absence is an absence that is not excused. The following are examples of unexcused absences:</p>
<ul>
  <li>Other School related events</li>
  <li>Childcare</li>
  <li>Auto Problems</li>
  <li>Work-related Obligations</li>
  <li>Illness (ie: common cold, flu) without doctor's excuse</li>
  <li>Elective surgeries</li>
  <li>Incarceration</li>
</ul>
	
<p>Attendance will be taken at the start of each class. Students who are in attendance and prepared for class will receive 2 point, which cumulates to a total of 30 points for the semester. If you arrive late, it&rsquo;s your responsibility to let me know that you&rsquo;re in class. Otherwise you will be marked absent. (A total of two late arrival or early leave markings will count as one absence).</p>
<p>For specific refund dates, use this link: <a href="https://www.hacc.edu/Students/RegisterOnlineGuide/add-and-drop-deadlines.cfm">https://www.hacc.edu/Students/RegisterOnlineGuide/add-and-drop-deadlines.cfm</a>&nbsp;</p>
<h2>Remote Classroom</h2>
<p>Unless otherwise stated in class, handouts will be posted to D2L and/or https://art114.richhauck.com.</p>
<p>You will also be submitting your assignments by publishing them to your website. Assignments should be uploaded to your site before the start of class on the assignment&rsquo;s due date, as this will ensure files have uploaded in time for a critique.</p>

<p>When possible, students should participate in screen sharing, as this helps to ensure participation and attendance. If Internet performance is a factor or if you need to step away from your desk, etc., feel free to turn off your webcam.</p>
<p>Unless speaking, please mute your microphone (unless it&rsquo;s a discussion!). There may be times in class where you will be asked to present your work via screenshare and/or participate in exercises while on Zoom. If you have any technical concerns please don&rsquo;t hesitate to reach out to me.</p>

<h2>Academic Dishonesty</h2>
<p>Academic honesty is one of the fundamental principles upon which the College was founded and upon which it must operate to continue to perform its most important function. Students are expected to be honest in all of their academic endeavors. The College views academic dishonesty as a serious breach of conduct. Depending upon the nature and severity of the dishonest act, the faculty and the College may discipline a student for verifiable acts of dishonesty occurring in or out of the classroom. In short &ldquo;Academic dishonesty is defined as an intentional act of deception in which a student seeks to claim credit for the work or effort of another person, or uses unauthorized material or fabricated information in any academic work.&rdquo; It includes, but is not limited to:</p>
<ul>
  <li>Cheating – giving or receiving answers on assigned material; using materials or aids forbidden by the instructor, unauthorized possession of examination</li>
  <li>Plagiarism – offering someone else&rsquo;s work, words, or ideas as one&rsquo;s own or using material from another source without acknowledgement.</li>
  <li>Interference – interfering without permission with the work of another student either by obtaining, changing, or destroying the work of another student</li>
  <li>Buying or selling of term papers, homework, examinations, laboratory assignments, computer programs, etc.</li>
  <li>Falsifying of one&rsquo;s own or another&rsquo;s records</li>
  <li>Knowingly assisting someone who engages in above activities.</li>
</ul>
	
<p>Plagiarism and cheating are unacceptable and will result in a zero for class. Plagiarism in the visual arts is unauthorized copying or reproduction of any photograph or work of art or design created by another individual with the intent to represent it as your own work. Plagiarized work is a recognizable interpretation of the original work.</p>
<p>Other penalties for students found to have committed academic dishonesty include, but may not be limited to, the following:</p>
<ul>
  <li>Lowering of a grade or failure for a particular assignment.</li>
  <li>Lowering of a grade, failure, and/or dismissal from the course.</li>
  <li>Disciplinary probation-may include a limitation on credits, mandatory repeat of a course.</li>
  <li>Suspension from a curriculum.<br>
    Suspension from the College</li>
</ul>
	
<p>Academic Dishonesty will be documented in the student&rsquo;s file. If the student drops the course and has engaged in academic dishonesty, the instructor will request the grade be an &ldquo;F.&rdquo; Most contemporary artwork is copyrighted. A typed name or signature defines copyright. Artwork on websites is copyrighted. When in doubt, don&rsquo;t use it. Draw from you own photo reference, from life, and from your imagination. All artwork should be original! If still in doubt about how to use visual reference, do not hesitate to ask your instructor for help.</p>
<h2>Delayed Schedule</h2>
<p>HACC will not be operating under a delayed schedule this semester. </p>

<h2>Mental Health Counseling Services</h2>
  Starting in Fall 2019 and continuing this semester HACC has entered into a contract with Mazzitti &amp; Sullivan EAP Services to provide mental health counseling services to our students. Mazzitti &amp; Sullivan has over 3,000 providers nationwide who are able to assist individuals in need of mental health or drug/alcohol counseling. Sessions may be face-to-face, by telephone, or through a secure online platform. Interested students are encouraged to contact Mazzitti &amp; Sullivan EAP Services at 1-800-543-5080 or through its website, <a href="http://www.mseap.com">www.mseap.com</a>.  <br>
  <a href="https://www.hacc.edu/Students/AdvisingCounseling/CounselingContacts/wellness-resources.cfm">https://www.hacc.edu/Students/AdvisingCounseling/CounselingContacts/wellness-resources.cfm</a></p>

<h2>Students in Need of Accommodations:</h2>
<p>
  The Student Access Services Department provides reasonable accommodations, auxiliary aids and support services to students with temporary or permanent disabilities. Students in need of accommodations or who would like to know more can contact Student Access Services at this link: http://www.hacc.edu/Students/DisabilityServices/Contact-Disability-Services.cfm</p>

	<h2>EEOC POLICY 005:</h2>

	<p>It is the policy of Harrisburg Area Community College, in full accordance with the law, not to discriminate in employment, student admissions, student access and/or student services on the basis of race, color, religion, age, political affiliation or belief, gender, national origin, ancestry, disability, place of birth, General Education Development Certification (GED), marital status, sexual orientation, gender identity or expression, veteran status, genetic history/information, or any legally protected classification. HACC recognizes its responsibility to promote the principles of equal opportunity for employment, student admissions, and student services taking active steps to recruit minorities and women.</p>

	<p>The Pennsylvania Human Relations Act (“PHRAct”) prohibits discrimination against prospective and current students because of race, color, sex, religious creed, ancestry, national origin, handicap or disability, record of a handicap or disability, perceived handicap or disability, relationship or association with an individual with a handicap or disability, use of a guide or support animal, and/or handling or training of support or guide animals.</p>
  
<p>The Pennsylvania Fair Educational Opportunities Act (“PFEOAct”) prohibits discrimination against prospective and current students because of race, religion, color, ancestry, national origin, sex, handicap or disability, record of a handicap or disability, perceived handicap or disability, and a relationship or association with an individual with a handicap or disability.</p>
  Information about these laws may be obtained by visiting the Pennsylvania Human Relations Commission website at <a href="http://www.phrc.pa.gov/Pages/default.aspx#.V2HOujFuNS0">http://www.phrc.pa.gov/Pages/default.aspx#.V2HOujFuNS0</a>.</p>

<p><strong>HACC—Gettysburg Campus</strong><br>
Erin Rose, Coordinator, Student Access Services<br>
	  G 127E<br>
	  Phone: 717-339-3533<br>
	  Fax: 717-337-3015<br>
	  Email: <a href="mailto:elrose@hacc.edu">elrose@hacc.edu</a></p>
<p><br>
  <strong>HACC—Harrisburg Campus/Virtual Learning</strong><br>
  Carole Kerper, Coordinator, Student Access Services<br>
  Cooper C133D<br>
  Phone: 717-780-2614<br>
  Fax: 717-780-1165<br>
  Email: <a href="mailto:clkerper@hacc.edu">clkerper@hacc.edu</a><br>
  <br>
</p>
<p> <strong> HACC—Lancaster Campus</strong><br>
Vicki Van Hise, Director, Student Access Services<br>
  RM 221D<br>
  Phone: 717-358-2972<br>
  Fax: 717-358-2951<br>
  Email: <a href="mailto:vlvanhis@hacc.edu">vlvanhis@hacc.edu</a></p>
<p><br>
	  <strong> HACC—York Campus</strong><br>
	  Lori Shoemaker, Coordinator, Student Access Services<br>
	  YL102J<br>
	  Phone: 717-801-3276<br>
	  Fax: 717-718-7252<br>
	  Email: <a href="mailto:rshoemak@hacc.edu">rshoemak@hacc.edu</a><br>
  <br>
</p>
	<p> <strong>HACC—Lebanon Campus</strong><br>
Deborah Bybee, Coordinator, Student Access Services<br>
	  D104R<br>
	  Phone: 717-270-6333<br>
	  Email: <a href="mailto:dabybee@hacc.edu">dabybee@hacc.edu</a></p>