{% extends "_includes/default.njk" %}

{% block title %}Art 114: Interactive Media and Design{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-test">Art 114</span><br />
      <span class="change">Interactive Media</span>
    </div>
  </div>
{% endblock %}