<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
     <li><a href="{{ "/" | url }}">Syllabus</a></li>
     <li><a href="{{ "/schedule" | url }}">Schedule</a></li>

     <li>
      <a href="{{ "/projects" | url }}">Projects</a>
      <!--
      <ul>
          <li><a href="{{ "/projects/project-1/" | url }}">Project 1</a></li>
          <li><a href="{{ "/projects/project-2/" | url }}">Project 2</a></li>
          <li><a href="{{ "/projects/project-3/" | url }}">Project 3</a></li>
    </ul>
    -->
  </li>
  <li>
      <a href="{{ "/assignments/" | url }}">Assignments</a>
      <ul>
         <!--
        <li><a href="{{ "/assignments/01/" | url }}">Flexbox Exercise</a></li>
        <li><a href="{{ "/assignments/02/index.html" | url }}">Two-Column Grid</a></li>
        <li><a href="{{ "/assignments/03/" | url }}">Web Font</a></li>
        <li><a href="{{ "/assignments/04/" | url }}">Responsive Layout</a></li>
        <li><a href="{{ "/assignments/bootstrap.html" | url }}">Bootstrap Layout</a></li>
        -->
      </ul>
  </li>
  <li>
    <a href="#">Resources</a>
      <ul>
          <li>
            <strong><a href="{{ "/resources/tools/" | url }}">Tools</a></strong>
              <ul>
                  <li><a href="{{ "/resources/tools/text-editors" | url }}">Text Editors</a></li>
                  <li><a href="{{ "/resources/tools/browser-inspectors" | url }}">Browser Inspectors</a></li>
                  <li><a href="{{ "/resources/tools/resets" | url }}">Resets</a></li>
              </ul>
          </li>

          <li>
            <strong><a href="{{ "/resources/starting-a-project/" | url }}">Starting a Project</a></strong>
              <ul>
                  <li><a href="{{ "/resources/starting-a-project/sitemap/" | url }}">Sitemap</a></li>
                  <li><a href="{{ "/resources/starting-a-project/wireframes/" | url }}">Wireframes</a></li>
                  <li><a href="{{ "/resources/starting-a-project/images-icons/" | url }}">Images and Icons</a></li>
                  <li><a href="{{ "/resources/starting-a-project/style-guides/" | url }}">Style Guides, Pattern Libraries, Frameworks</a></li>
              </ul>
          </li>
          <li>
            <strong>Building a Website</strong>
            <ul>
              <li><a href="{{ "/resources/building-a-website/page-layouts/" | url }}">Page Layouts</a></li>
              <li><a href="{{ "/resources/building-a-website/file-includes/" | url }}">File Includes in PHP</a></li>
              <li><a href="{{ "/resources/building-a-website/web-fonts/" | url }}">Web Fonts</a></li>
              <li><a href="{{ "/resources/building-a-website/html-table/" | url }}">HTML Table</a></li>
            </ul>
          </li>

          <li>
              <strong>Responsive Design</strong>
              <ul>
                <li><a href="{{ "/resources/responsive-design/media-queries/" | url }}">Media Queries</a></li>
                <li><a href="{{ "/resources/responsive-design/responsive-images/" | url }}">Responsive Images</a></li>
                <li><a href="{{ "/resources/responsive-design/responsive-navigation/" | url }}">Responsive Navigation</a></li>
                <li><a href="{{ "/resources/responsive-design/active-page-highlight/page1.html" | url }}">Active Page Highlight</a></li>
              </ul>
          </li>
          <li>
              <strong>JavaScript</strong>
              <ul>
                <li><a href="{{ "/resources/javascript/" | url }}">JavaScript</a></li>
                <li><a href="{{ "/resources/javascript/animation/" | url }}">Animation</a></li>
                <!--<li><a href="{{ "/resources/javascript/slideshow/" | url }}">Slideshow</a></li>-->
              
              </ul>
          </li>
          <li>
              <strong>Site Setup</strong>
              <ul>
                <li><a href="{{ "/resources/site-setup/ftp" | url }}">FTP</a></li>
                <li><a href="{{ "/resources/site-setup/google-analytics" | url }}">Get started with Analytics</a></li>
              </ul>
          </li>

          <li>
            <!--
            <strong>Advanced Topics</strong>
            <ul>
              <li><a href="{{ "/resources/business-of-design/" | url }}">The Business of Design</a></li>
            </ul>
            -->
        </li>
      </ul>
  </div>
</nav>
